.confirm-container {
  padding: 5rem;
}

mat-card {
  padding: 2rem;
}

.mat-grid-tile .mat-figure {
  justify-content: flex-start;
}

p {
  padding-left: 1rem;
  font-size: 1rem;
  font-weight: bold;
  color: darkblue;
}
