<mat-toolbar color="accent">
  <mat-toolbar-row>
    <span>Order Confirmed</span>
  </mat-toolbar-row>
</mat-toolbar>

<mat-card>
  <mat-card-title>Your Bitcoin order details</mat-card-title>
  <mat-card-content>
    <div>
      <h4>Name:</h4>
      <p>{{ receivedData.name }}</p>
    </div>
    <div>
      <h4>Contact Number:</h4>
      <p>{{ receivedData.contactNo }}</p>
    </div>
    <div>
      <h4>Gender:</h4>
      <p>{{ receivedData.gender }}</p>
    </div>
    <div>
      <h4>Date Of Birth:</h4>
      <p>{{ receivedData.dob }}</p>
    </div>
    <div>
      <h4>Order Date:</h4>
      <p>{{ receivedData.orderDate }}</p>
    </div>
    <div>
      <h4>Order Type:</h4>
      <p>{{ receivedData.orderType }}</p>
    </div>
    <div *ngIf="receivedData.orderType == 'sell'">
      <h4>BitCoin Address</h4>
      <p>{{ receivedData.bitcoinAdd }}</p>
    </div>
    <div *ngIf="receivedData.orderType == 'buy'">
      <h4>QR code</h4>
      <img src="{{ receivedData.qrURL }}" alt="qr code" />
    </div>
    <div>
      <h4>Cryptocurreny Pair</h4>
      <p>{{ receivedData.cryptoPair }}</p>
    </div>
    <div>
      <h4>Cryptocurreny Price</h4>
      <p>{{ receivedData.cryptoPrice }}</p>
    </div>
    <div>
      <h4>Total Amount to {{ receivedData.orderType }}</h4>
      <p>{{ receivedData.totalAmt }}</p>
    </div>
  </mat-card-content>
</mat-card>
